= render "back_link"


%h1.heading-large You still need to prove who you are

%p To do this you will need
%p Driving licence
%p Bank account

= form_tag welcome_confirm_who_path do




  %p= submit_tag 'Continue', class: 'button'
