%h1.heading-large
  Leeds identity hack

  %p.lede Click on start now to begin.....


  %p= link_to 'Start now', welcome_login_or_signup_path,class: 'button button-start'


.grid-row

  .column-two-thirds
