%h1.heading-large
  Leeds identity hack

  %p.lede Click on start now to begin.....

= form_tag welcome_login_path do
  %p= submit_tag 'Start now', class: 'button button-start'


.grid-row

  .column-two-thirds
