
= render "back_link"

%h1.heading-large Access code
%p Please call the number below in order to obtain an access code.
%p Tel: 01234 3456789


= form_tag welcome_phone_access_path do




  %p= submit_tag 'Continue to internal portal', class: 'button'
