= render "back_link"


%h1.heading-large Set up 2-step verification

%p We're introducing an additional layer of security to your account
%p Your account will be protected by your password and access code

= form_tag welcome_two_step_path do




  %p= submit_tag 'Start', class: 'button'
